* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button,
img,
textarea,
input {
  display: block;
  color: inherit;
  background-color: inherit;
  border: none;
  font-size: inherit;
}

textarea {
  resize: none;
  padding: 0.5em;
  background-color: #0f0f47;
  width: 100%;
  outline: none;
  border-radius: 3px;
  flex: 1;

  scrollbar-width: thin;
  scrollbar-color: darkgray #0f0f47;
}

body {
  font-size: 16px;
  background-color: #1f2329;
  color: #d1d5e6;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 4em calc(100% - 4em);
  grid-template-columns: minmax(500px, 1fr) 4fr;
  grid-template-areas:
    "header header"
    "editor output";
}

main {
  display: contents;
  background-color: #a0a8b7;
  width: 100%;
}

header {
  grid-area: header;
  font-size: 1rem;
  background-color: #2828c4;
}

.input-section {
  background-color: #2828c4;
  grid-area: editor;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0.5rem;
  overflow: hidden;
}

.input-section > .section-title,
.input-section > .controls,
.input-section > #status {
  flex-shrink: 0;
}

.output-section {
  grid-area: output;
  display: flex;
  flex-flow: column nowrap;
  background-color: #0f0f47;
  border-radius: 3px;
  overflow: hidden;
  padding: 0.5rem;
}

.diagram-area {
  padding: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.diagram-container {
  background-color: #1f2329;
  border-radius: 3px;
  overflow: scroll;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: darkgray #0f0f47;
  flex: 1;
}

header > h1,
header > p {
  text-align: center;
}

.diagram-container > svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.btn {
  background-color: #5640cc;
  padding: 0.5rem;
  border-radius: 3px;
  transition: background-color 150ms;
}

.syntax-guide {
  flex: 1;
  border-radius: 3px;
  min-height: 0;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.syntax-guide > h3 {
  flex-shrink: 0;
}

.syntax-example {
  scrollbar-width: thin;
  scrollbar-color: darkgray #0f0f47;
  background-color: #0f0f47;
  padding: 0.5rem;
  overflow: auto;
  border-radius: 3px;
  flex: 1;
  min-height: 0;
}

.code-editor {
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  min-height: 0;
  margin-top: 0.5rem;
}

.section-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.zoom-controls {
  color: #a0a8b7;
  z-index: 100;
  display: flex;
  align-items: baseline;
  position: absolute;
  bottom: 2em;
  right: 2em;
  background-color: #5640cc;
  border-radius: 3px;
  overflow: hidden;
}

.zoom-btn {
  padding: 1em;
  transition: background-color 150ms;
}

.zoom-level {
  user-select: none;
}

.controls {
  margin-top: 0.25rem;
  gap: 0.25rem;
  display: flex;
  flex-flow: row wrap;
}

.controls button {
  width: 100%;
}

#status {
  min-height: 2rem;
  position: absolute;
  right: 0;
  background-color: #55555544;
  vertical-align: baseline;
  padding: 0.3rem;
  border-radius: 3px;
  right: 1rem;
  /* animation: slide-in; */
  animation: 1s linear 0s 2 forward both running slide-in;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-500%) scale(0);
  }
  10% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
  90% {
    opacity: 0;
    transform: translateY(0%) scale(1);
  }

  100% {
    transform: scale(0);
  }
}

#connections {
  z-index: 4;
}
#diagram-objects {
  z-index: 5;
}

.btn:hover {
  background-color: #2c2169;
}

.zoom-btn:hover {
  background-color: #2c2169;
}
